### Performing Multiple Linear Regression

- Now we will perform a multiple linear regression analysis to predict a fan rating based on all the information collected aboutthe movie.

In [1]:
# Importing libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error,root_mean_squared_error
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy import stats

plt.rcParams['savefig.bbox'] = "tight"
import warnings

First we proceed to load our clean dataset

In [2]:
movies = pd.read_csv(r'C:\Users\alana\Documents\TecMTY\8vo_semestre\Data_Science\movie_project\datasets\movie_DB3_clean.csv')
movies.head()

,Title,Genre,Year,Duration,Budget,Revenue,Imdb,Personalrating,Critic_1,Critic_2,Critic_3,Critic_4,Fans
0,A quiet place,Horror,2018,90.0,17.0,340.939361,75.0,70.0,70.0,90.0,80.0,8.0,77.5
1,A quiet place Part II,Horror,2020,97.0,55.0,297.400000,72.0,70.0,80.0,40.0,60.0,6.0,69.0
2,Aladin (2019),Fantasy,2019,128.0,183.0,1050.693953,69.0,90.0,50.0,70.0,40.0,4.0,81.5
3,Alice in Wonderland,Fantasy,2010,108.0,205.0,1028.467110,64.0,80.0,40.0,60.0,50.0,7.0,78.0
4,American Psycho,Horror,2000,101.0,7.0,34.300000,76.0,80.0,60.0,50.0,80.0,7.0,83.5

Obtain an overall stadistic analysis

In [3]:
movies.describe()

,Year,Duration,Budget,Revenue,Imdb,Personalrating,Critic_1,Critic_2,Critic_3,Critic_4,Fans
count,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
mean,2010.119760,114.922156,91.943078,469.075315,71.868263,85.808383,68.922156,67.485030,66.886228,6.874251,74.401198
std,12.244892,23.406053,69.063796,359.675748,8.393594,11.889519,17.970187,18.423354,17.177465,1.606387,14.065064
min,1942.000000,70.000000,0.636000,0.621392,51.000000,50.000000,30.000000,20.000000,30.000000,4.000000,37.000000
25%,2005.500000,97.000000,25.000000,188.160956,67.000000,80.000000,60.000000,60.000000,60.000000,6.000000,66.500000
50%,2013.000000,109.000000,85.000000,383.200000,73.000000,90.000000,70.000000,60.000000,60.000000,7.000000,76.500000
75%,2018.000000,130.000000,150.000000,701.750000,77.000000,100.000000,80.000000,80.000000,80.000000,8.000000,86.000000
max,2023.000000,180.000000,291.000000,1516.045911,92.000000,100.000000,100.000000,100.000000,100.000000,10.000000,96.000000