# Data Exploration

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Reading our clean dataset
movies = pd.read_csv(r'C:\Users\alana\Documents\TecMTY\8vo_semestre\Data_Science\movie_project\datasets\movies_team3_clean.csv', index_col='Title')

# Exploring the dataset

In [4]:
movies.head()

,Unnamed: 0,Genre,Year,Duration,Budget,Revenue,Imdb,Personalrating,Critic_1,Critic_2,...,Person_11,Person_12,Person_13,Person_14,Person_15,Person_16,Person_17,Person_18,Person_19,Person_20
Title,,,,,,,,,,,,,,,,,,,,,
2 Fast and Furious,0,Action,2003.0,107.0,76.0,236.350661,590.0,1000.0,200.0,500.0,...,50.0,70.0,60.0,100.0,40.0,50.0,60.0,40.0,60.0,60.0
A quiet place,1,Horror,2018.0,90.0,17.0,340.939361,750.0,700.0,700.0,900.0,...,70.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,60.0,100.0
A quiet place Part II,2,Horror,2020.0,97.0,55.0,297.400000,720.0,700.0,800.0,400.0,...,60.0,70.0,50.0,80.0,70.0,100.0,80.0,40.0,80.0,90.0
Aladin (2019),3,Fantasy,2019.0,128.0,183.0,1050.693953,690.0,900.0,500.0,700.0,...,50.0,100.0,100.0,100.0,70.0,80.0,50.0,90.0,90.0,100.0
Alice in Wonderland,4,Fantasy,2010.0,108.0,205.0,1028.467110,640.0,800.0,400.0,600.0,...,90.0,60.0,100.0,60.0,50.0,80.0,100.0,80.0,100.0,90.0

In [5]:
movies.tail()

,Unnamed: 0,Genre,Year,Duration,Budget,Revenue,Imdb,Personalrating,Critic_1,Critic_2,...,Person_11,Person_12,Person_13,Person_14,Person_15,Person_16,Person_17,Person_18,Person_19,Person_20
Title,,,,,,,,,,,,,,,,,,,,,
Wizards of Waverly Place: The Movie,198,Adventure,2009.0,98.0,1.5,NaN,620.0,700.0,600.0,500.0,...,60.0,60.0,100.0,80.0,60.0,60.0,100.0,40.0,60.0,70.0
Wolf of Wall Street,199,Comedy,2013.0,180.0,100.0,406.9,820.0,900.0,800.0,600.0,...,80.0,10.0,90.0,100.0,50.0,100.0,90.0,70.0,80.0,90.0
Wreck it ralph,200,Adventure,2012.0,101.0,165.0,496.5,770.0,800.0,600.0,600.0,...,90.0,80.0,80.0,90.0,90.0,80.0,80.0,100.0,90.0,80.0
Zoom,201,Comedy,2006.0,88.0,75.6,12.5,440.0,700.0,200.0,400.0,...,10.0,30.0,40.0,40.0,40.0,100.0,40.0,20.0,20.0,60.0
Zootopia,202,Adventure,2016.0,108.0,150.0,1025.0,800.0,800.0,800.0,700.0,...,90.0,80.0,100.0,70.0,40.0,100.0,80.0,100.0,80.0,80.0

In [6]:
movies.shape

(203, 32)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 203 entries, 2 Fast and Furious to Zootopia
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      203 non-null    int64
 1   Genre           203 non-null    object
 2   Year            203 non-null    float64
 3   Duration        203 non-null    float64
 4   Budget          198 non-null    float64
 5   Revenue         198 non-null    float64
 6   Imdb            202 non-null    float64
 7   Personalrating  203 non-null    float64
 8   Critic_1        203 non-null    float64
 9   Critic_2        203 non-null    float64
 10  Critic_3        203 non-null    float64
 11  Critic_4        203 non-null    float64
 12  Person_1        203 non-null    float64
 13  Person_2        203 non-null    float64
 14  Person_3        203 non-null    float64
 15  Person_4        203 non-null    float64
 16  Person_5        203 non-null    float64
 17  Person_6        203 non-null    float64
 18  Person_7        203 non-null    float64
 19  Person_8        203 non-null    float64
 20  Person_9        203 non-null    float64
 21  Person_10       203 non-null    float64
 22  Person_11       203 non-null    float64
 23  Person_12       203 non-null    float64
 24  Person_13       203 non-null    float64
 25  Person_14       203 non-null    float64
 26  Person_15       203 non-null    float64
 27  Person_16       203 non-null    float64
 28  Person_17       203 non-null    float64
 29  Person_18       203 non-null    float64
 30  Person_19       203 non-null    float64
 31  Person_20       203 non-null    float64
dtypes: float64(30), int64(1), object(1)
memory usage: 52.3+ KB

# Checking out for missing values

In [8]:
movies.isnull().sum()

Unnamed: 0        0
Genre             0
Year              0
Duration          0
Budget            5
Revenue           5
Imdb              1
Personalrating    0
Critic_1          0
Critic_2          0
Critic_3          0
Critic_4          0
Person_1          0
Person_2          0
Person_3          0
Person_4          0
Person_5          0
Person_6          0
Person_7          0
Person_8          0
Person_9          0
Person_10         0
Person_11         0
Person_12         0
Person_13         0
Person_14         0
Person_15         0
Person_16         0
Person_17         0
Person_18         0
Person_19         0
Person_20         0
dtype: int64