# Data Exploration

In [107]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [108]:
# Reading our clean dataset
movies = pd.read_csv(r'C:\Users\alana\Documents\TecMTY\8vo_semestre\Data_Science\movie_project\datasets\movies_team3_clean.csv', index_col='Title')

# Exploring the dataset

In [109]:
movies.head()

,Unnamed: 0,Genre,Year,Duration,Budget,Revenue,Imdb,Personalrating,Critic_1,Critic_2,...,Person_11,Person_12,Person_13,Person_14,Person_15,Person_16,Person_17,Person_18,Person_19,Person_20
Title,,,,,,,,,,,,,,,,,,,,,
2 Fast and Furious,0,Action,2003.0,107.0,76.0,236.350661,59.0,100.0,20.0,50.0,...,50.0,70.0,60.0,100.0,40.0,50.0,60.0,40.0,60.0,60.0
A quiet place,1,Horror,2018.0,90.0,17.0,340.939361,75.0,70.0,70.0,90.0,...,70.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,60.0,100.0
A quiet place Part II,2,Horror,2020.0,97.0,55.0,297.400000,72.0,70.0,80.0,40.0,...,60.0,70.0,50.0,80.0,70.0,100.0,80.0,40.0,80.0,90.0
Aladin (2019),3,Fantasy,2019.0,128.0,183.0,1050.693953,69.0,90.0,50.0,70.0,...,50.0,100.0,100.0,100.0,70.0,80.0,50.0,90.0,90.0,100.0
Alice in Wonderland,4,Fantasy,2010.0,108.0,205.0,1028.467110,64.0,80.0,40.0,60.0,...,90.0,60.0,100.0,60.0,50.0,80.0,100.0,80.0,100.0,90.0

In [110]:
movies.tail()

,Unnamed: 0,Genre,Year,Duration,Budget,Revenue,Imdb,Personalrating,Critic_1,Critic_2,...,Person_11,Person_12,Person_13,Person_14,Person_15,Person_16,Person_17,Person_18,Person_19,Person_20
Title,,,,,,,,,,,,,,,,,,,,,
Wizards of Waverly Place: The Movie,198,Adventure,2009.0,98.0,1.5,NaN,62.0,70.0,60.0,50.0,...,60.0,60.0,100.0,80.0,60.0,60.0,100.0,40.0,60.0,70.0
Wolf of Wall Street,199,Comedy,2013.0,180.0,100.0,406.9,82.0,90.0,80.0,60.0,...,80.0,10.0,90.0,100.0,50.0,100.0,90.0,70.0,80.0,90.0
Wreck it ralph,200,Adventure,2012.0,101.0,165.0,496.5,77.0,80.0,60.0,60.0,...,90.0,80.0,80.0,90.0,90.0,80.0,80.0,100.0,90.0,80.0
Zoom,201,Comedy,2006.0,88.0,75.6,12.5,44.0,70.0,20.0,40.0,...,10.0,30.0,40.0,40.0,40.0,100.0,40.0,20.0,20.0,60.0
Zootopia,202,Adventure,2016.0,108.0,150.0,1025.0,80.0,80.0,80.0,70.0,...,90.0,80.0,100.0,70.0,40.0,100.0,80.0,100.0,80.0,80.0

In [111]:
movies.shape

(203, 32)

In [112]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 203 entries, 2 Fast and Furious to Zootopia
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      203 non-null    int64
 1   Genre           203 non-null    object
 2   Year            203 non-null    float64
 3   Duration        203 non-null    float64
 4   Budget          198 non-null    float64
 5   Revenue         198 non-null    float64
 6   Imdb            202 non-null    float64
 7   Personalrating  203 non-null    float64
 8   Critic_1        203 non-null    float64
 9   Critic_2        203 non-null    float64
 10  Critic_3        203 non-null    float64
 11  Critic_4        203 non-null    float64
 12  Person_1        203 non-null    float64
 13  Person_2        203 non-null    float64
 14  Person_3        203 non-null    float64
 15  Person_4        203 non-null    float64
 16  Person_5        203 non-null    float64
 17  Person_6        203 non-null    float64
 18  Person_7        203 non-null    float64
 19  Person_8        203 non-null    float64
 20  Person_9        203 non-null    float64
 21  Person_10       203 non-null    float64
 22  Person_11       203 non-null    float64
 23  Person_12       203 non-null    float64
 24  Person_13       203 non-null    float64
 25  Person_14       203 non-null    float64
 26  Person_15       203 non-null    float64
 27  Person_16       203 non-null    float64
 28  Person_17       203 non-null    float64
 29  Person_18       203 non-null    float64
 30  Person_19       203 non-null    float64
 31  Person_20       203 non-null    float64
dtypes: float64(30), int64(1), object(1)
memory usage: 52.3+ KB

# Fixing some details

- As we can see, we have an extra column named 'Unnamed'. So we need to drop it

In [113]:
movies = movies.drop(columns=['Unnamed: 0'])

In [114]:
movies.head(1)

,Genre,Year,Duration,Budget,Revenue,Imdb,Personalrating,Critic_1,Critic_2,Critic_3,...,Person_11,Person_12,Person_13,Person_14,Person_15,Person_16,Person_17,Person_18,Person_19,Person_20
Title,,,,,,,,,,,,,,,,,,,,,
2 Fast and Furious,Action,2003.0,107.0,76.0,236.350661,59.0,100.0,20.0,50.0,40.0,...,50.0,70.0,60.0,100.0,40.0,50.0,60.0,40.0,60.0,60.0

Now, we check for missing values between the different columns in order to change them to a specific value or variable

In [115]:
movies.isnull().sum()

Genre             0
Year              0
Duration          0
Budget            5
Revenue           5
Imdb              1
Personalrating    0
Critic_1          0
Critic_2          0
Critic_3          0
Critic_4          0
Person_1          0
Person_2          0
Person_3          0
Person_4          0
Person_5          0
Person_6          0
Person_7          0
Person_8          0
Person_9          0
Person_10         0
Person_11         0
Person_12         0
Person_13         0
Person_14         0
Person_15         0
Person_16         0
Person_17         0
Person_18         0
Person_19         0
Person_20         0
dtype: int64

# Creating a new fan rating
To a better metric to evaluate the quality of the movies, we create a new column with the average of the persons grade

In [116]:
movies.iloc[:,11:]

,Person_1,Person_2,Person_3,Person_4,Person_5,Person_6,Person_7,Person_8,Person_9,Person_10,Person_11,Person_12,Person_13,Person_14,Person_15,Person_16,Person_17,Person_18,Person_19,Person_20
Title,,,,,,,,,,,,,,,,,,,,
2 Fast and Furious,80.0,70.0,100.0,100.0,30.0,90.0,60.0,30.0,50.0,30.0,50.0,70.0,60.0,100.0,40.0,50.0,60.0,40.0,60.0,60.0
A quiet place,60.0,90.0,50.0,90.0,90.0,90.0,70.0,60.0,80.0,80.0,70.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,60.0,100.0
A quiet place Part II,60.0,80.0,60.0,80.0,50.0,70.0,80.0,60.0,60.0,60.0,60.0,70.0,50.0,80.0,70.0,100.0,80.0,40.0,80.0,90.0
Aladin (2019),50.0,70.0,90.0,80.0,80.0,70.0,80.0,80.0,100.0,100.0,50.0,100.0,100.0,100.0,70.0,80.0,50.0,90.0,90.0,100.0
Alice in Wonderland,80.0,70.0,100.0,20.0,90.0,90.0,70.0,90.0,60.0,80.0,90.0,60.0,100.0,60.0,50.0,80.0,100.0,80.0,100.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wizards of Waverly Place: The Movie,90.0,70.0,70.0,100.0,60.0,100.0,40.0,100.0,60.0,90.0,60.0,60.0,100.0,80.0,60.0,60.0,100.0,40.0,60.0,70.0
Wolf of Wall Street,80.0,80.0,90.0,100.0,90.0,80.0,90.0,90.0,90.0,100.0,80.0,10.0,90.0,100.0,50.0,100.0,90.0,70.0,80.0,90.0
Wreck it ralph,100.0,60.0,70.0,70.0,70.0,80.0,70.0,80.0,100.0,100.0,90.0,80.0,80.0,90.0,90.0,80.0,80.0,100.0,90.0,80.0
Zoom,30.0,40.0,30.0,60.0,60.0,30.0,10.0,10.0,100.0,20.0,10.0,30.0,40.0,40.0,40.0,100.0,40.0,20.0,20.0,60.0
Zootopia,80.0,70.0,90.0,100.0,80.0,70.0,90.0,70.0,90.0,90.0,90.0,80.0,100.0,70.0,40.0,100.0,80.0,100.0,80.0,80.0

In [117]:
movies.iloc[:,11:].mean()

Person_1     71.280788
Person_2     74.285714
Person_3     75.024631
Person_4     76.650246
Person_5     71.231527
Person_6     72.463054
Person_7     72.955665
Person_8     70.344828
Person_9     72.512315
Person_10    71.625616
Person_11    72.413793
Person_12    72.660099
Person_13    71.428571
Person_14    71.133005
Person_15    72.512315
Person_16    72.709360
Person_17    73.497537
Person_18    71.625616
Person_19    71.724138
Person_20    72.807882
dtype: float64

In [118]:
# Creating the new column Fans which will have the average of each column
movies['Fans'] = movies.iloc[:,11:].mean(axis=1)

movies.head()

,Genre,Year,Duration,Budget,Revenue,Imdb,Personalrating,Critic_1,Critic_2,Critic_3,...,Person_12,Person_13,Person_14,Person_15,Person_16,Person_17,Person_18,Person_19,Person_20,Fans
Title,,,,,,,,,,,,,,,,,,,,,
2 Fast and Furious,Action,2003.0,107.0,76.0,236.350661,59.0,100.0,20.0,50.0,40.0,...,70.0,60.0,100.0,40.0,50.0,60.0,40.0,60.0,60.0,61.5
A quiet place,Horror,2018.0,90.0,17.0,340.939361,75.0,70.0,70.0,90.0,80.0,...,80.0,80.0,80.0,80.0,80.0,80.0,80.0,60.0,100.0,77.5
A quiet place Part II,Horror,2020.0,97.0,55.0,297.400000,72.0,70.0,80.0,40.0,60.0,...,70.0,50.0,80.0,70.0,100.0,80.0,40.0,80.0,90.0,69.0
Aladin (2019),Fantasy,2019.0,128.0,183.0,1050.693953,69.0,90.0,50.0,70.0,40.0,...,100.0,100.0,100.0,70.0,80.0,50.0,90.0,90.0,100.0,81.5
Alice in Wonderland,Fantasy,2010.0,108.0,205.0,1028.467110,64.0,80.0,40.0,60.0,50.0,...,60.0,100.0,60.0,50.0,80.0,100.0,80.0,100.0,90.0,78.0